USE [master]
GO
/****** Object:  Database [EmpresaReclutadora]    Script Date: 20/07/2023 17:21:56 ******/
CREATE DATABASE [EmpresaReclutadora]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EmpresaReclutadora', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\EmpresaReclutadora.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EmpresaReclutadora_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\EmpresaReclutadora_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EmpresaReclutadora].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EmpresaReclutadora]
GO
/****** Object:  Table [dbo].[Candidato]    Script Date: 20/07/2023 17:21:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Candidato](
	[Cedula] [bigint] NOT NULL,
	[Nombre] [varchar](30) NOT NULL,
	[Email] [varchar](75) NOT NULL,
	[AspiracionSalarial] [money] NULL,
	[VacanteAplicar] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Cedula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vacante]    Script Date: 20/07/2023 17:21:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vacante](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](30) NOT NULL,
	[Salario] [money] NULL,
	[Estado] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Candidato]  WITH CHECK ADD FOREIGN KEY([VacanteAplicar])
REFERENCES [dbo].[Vacante] ([Id])
GO
USE [master]
GO
